
Alura/CSharp/AprendendoCSharp/.vs/AprendendoCSharp/FileContentIndex/1c4cc820-11ba-4002-a50d-88811804afcc.vsidx
Alura/CSharp/AprendendoCSharp/.vs/AprendendoCSharp/FileContentIndex/734d8fa9-aaef-495e-a171-7efbbc8b1eee.vsidx
Alura/CSharp/AprendendoCSharp/.vs/AprendendoCSharp/FileContentIndex/95e29efb-e5aa-4470-8f70-cce3215e2338.vsidx
