
Alura/CSharp/AprendendoCSharp/.vs/AprendendoCSharp/FileContentIndex/1c4cc820-11ba-4002-a50d-88811804afcc.vsidx
Alura/CSharp/AprendendoCSharp/.vs/AprendendoCSharp/FileContentIndex/734d8fa9-aaef-495e-a171-7efbbc8b1eee.vsidx
Alura/CSharp/AprendendoCSharp/.vs/AprendendoCSharp/FileContentIndex/95e29efb-e5aa-4470-8f70-cce3215e2338.vsidx
Alura/CSharp/AprendendoCSharp/.vs/AprendendoCSharp/FileContentIndex/3395c648-6d09-4064-a862-242b82633a48.vsidx
Alura/CSharp/AprendendoCSharp/.vs/AprendendoCSharp/FileContentIndex/68867ef1-be89-4e8c-a20e-95e21fca3bf2.vsidx
Alura/CSharp/AprendendoCSharp/.vs/AprendendoCSharp/FileContentIndex/b5ad1cf3-b1fc-443f-a4e6-d30803cbc8bd.vsidx
Alura/CSharp/AprendendoCSharp/.vs/AprendendoCSharp/FileContentIndex/b770a62a-0caf-4150-8568-60501aa64ea6.vsidx
Alura/CSharp/AprendendoCSharp/.vs/AprendendoCSharp/FileContentIndex/cb92c52c-11fe-4541-84d0-80182200c739.vsidx
Alura/CSharp/AprendendoCSharp/.vs/AprendendoCSharp/FileContentIndex/cc85664f-bddb-4ebf-9a66-37be5739e504.vsidx
